<div class="container">
    <div class="col-sm-12"><h1><strong>My English Profile</strong></h1><hr></div>
    <form class="form-horizontal" role="form" action="/siljae_update/<%= @one_post.id%>" method="POST">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-5">
          <input name="myname" type="text" class="form-control" id="name" value="<%= @one_post.myname %>>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">1st Major:</label>
        <div class="col-sm-5">
          <input name="mymajor1" type="text" class="form-control" id="name" value="<%= @one_post.mymajor1 %>>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">2nd Major:</label>
        <div class="col-sm-5">
          <input name="mymajor2" type="text" class="form-control" id="name" value="<%= @one_post.mymajor2 %>>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">Grade:</label>
        <div class="col-sm-5">
          <input name="mygrade" type="text" class="form-control" id="name" value="<%= @one_post.mygrade %>>
        </div>
      </div>
      <hr>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">Club activity:</label>
        <div class="col-sm-5">
          <input name="myclub" type="text" class="form-control" id="name" value="<%= @one_post.myclub %>>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="major">First joined:</label>
        <div class="col-sm-5">
          <input name="myclubjoin" type="text" class="form-control" id="name" value="<%= @one_post.myclubjoin %>>
        </div>
      </div>
      
      <hr>
      <div class="form-group"> 
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
</div>