<div class="container">
<h1><strong>Your English Profile</strong></h1>
<hr>
My name is <em><%= @myname %></em> and I'm currently a <em><%= @mygrade %></em> in college.<br>
I have a double major in <em><%= @mymajor1 %></em> and <em><%= @mymajor2 %></em>.<br>
When I became <em><%= @myclubjoin %></em>, I joined a/an <em><%= @myclub%></em>.<br>
My involvement in the <em><%= @myclub %></em> helped me become a more confident person.<br>
My university club experiences were priceless and an indispensable part of my college life.<br>

<hr><a href='/'>메인으로 가기</a>
</div>
